/* Index Styling */
.green,
.white {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.green {
    color: lightgreen;
}

.meat {
    text-align: center;
}

.sweet {
    text-align: right;
}

/* Lobster Bisque */
/* Centering page */
div.parent {
    text-align: center;
}
ul {
    display: inline-block;
    text-align: left;
}
ol {
    display: inline-block;
    text-align: left;
}

.inverse_star,
.star_title {
    background-color: lightskyblue;
    color: brown;
    font-weight: 800;
    
}
.inverse_star {
    background-color: brown;
    color: lightskyblue;
    
}
